@model List<KMWG_MVCApp_Profile.DB_1.User>
<div class="row">
    <span>_UserCont</span>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Son Kullanıcılar</h2>
        </div>
        <div class="col-md-12">
            @foreach (KMWG_MVCApp_Profile.DB_1.User item in Model)
            {
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <strong>
                                @item.Name (@item.UserName)
                            </strong>
                        </div>
                        <div class="panel-body">
                            @foreach (var add in item.Addresses)
                            {
                                @add.Address
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
</div>
