
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="" method="post" enctype="multipart/form-data">

            @*<label for="file1">Filename:</label>
        <input type="file" name="file" id="file1" />
        <input type="submit" />
        <label for="file2">Filename:</label>
        <input type="file" name="files" id="file2" />*@

            <label for="files">Select files:</label>
            <input type="file" id="files" name="files" multiple><br><br>
            <input type="submit" />


        </form>

    </div>
</body>
</html>
